<!--
  TODO: 
  Install github copilot
  create a mock up of the UI
  Integrate the python code wiht the JS (Flask)
  Find out some different ways to use AI
  How does out project answer this? "The project has the potential to impact peoples’ lives positively and solve important social issues." (25% of the marks when judging)
-->>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles.css" />
  </head>
  <body>
    <div id="flashcards"></div>
    <div class="button-container">
      <button class="prev-button" id="prev">Previous Flashcard</button>
      <button class="next-button" id="next">Next Flashcard</button>
    </div>
    <script src="../static/script.js"></script>
    <!-- <script>
      var data = JSON.parse("{{ data | safe }}");
    </script> -->
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
  </body>
</html>
