<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;600;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Display</title>
    <style>
      #video {
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
      }
      #captureButton {
      display: block;
      margin: 10px auto;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
    }
    </style>
  </head>
  <body>
    <video id="video" playsinline autoplay></video>
    <header>
      <h1>Flashcards</h1>
    </header>
    <div id="flashcards"></div>
    <div class="button-container">
      <button class="prev-button" id="prev">Previous Flashcard</button>
      <button class="next-button" id="next">Next Flashcard</button>
    </div>
    <script src="../static/script/script.js"></script>

    <div class="answer-box">
      <button>Answer 1</button>
      <button>Answer 2</button>
      <button>Answer 3</button>
      <button>Answer 4</button>
    </div>
    <input type="file" id="myFile" name="filename" />
    <button onclick="uploadFile()">Upload</button>
    <button id="captureButton" onclick="capturePhoto()">Capture Photo</button>
  </body>
</html>
