<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <header>
    <div class="navbar">
      <div class="nav-links">
        <a href="https://www.linkedin.com/in/aidan-elliott-korytek-625305292/">Aidan</a>
        <a href="https://www.linkedin.com/in/cameronostien/">Cameron</a>
        <a href="https://www.linkedin.com/in/allen-ziyi-liu/">Allen</a>
        <a href="https://www.linkedin.com/in/29jason-wu/">Jason</a>
      </div>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="text-container">
        <div class="border1">
          <div class="strip1"></div>
          <div class="title">super translate flashcard web app</div>
          <div class="description">This website employs Google Translate's API to capture images through the webcam, generating personalized flashcards for language learning. The interactive interface includes functionalities such as capturing and saving photos, facilitating the acquisition of vocabulary and language skills. The platform aims to provide an objective and utilitarian approach to language education, utilizing technology to streamline the learning process.</div>
          <div class="strip2"></div>
        </div>
      </div>
      <div class="demo">
        <div class="border2">
        </div>
      </div>
    </div>

    <div class="strip"></div>

    <div id="flashcards"></div>
    <div class="button-container">
      <button class="prev-button" id="prev">Previous Flashcard</button>
      <button class="next-button" id="next">Next Flashcard</button>
    </div>

    <div class="answer-box">
      <button class="Choice-Buttons" id="Choice1"></button>
      <button class="Choice-Buttons" id="Choice2"></button>
      <button class="Choice-Buttons" id="Choice3"></button>
      <button class="Choice-Buttons" id="Choice4"></button>
    </div>
    <form method=post enctype=multipart/form-data>
      <input type="file" id="myFile" name="file"/>
      <input type=submit value=Upload>
    </form>
    
    <button id="captureButton" onclick="capturePhoto()">Capture Photo</button>
    <button id="toggleButton" onclick="toggleWebcam()">Toggle Webcam</button>
    <div class="video-container">
      <video id="video" playsinline autoplay style="display: none;"></video>
    </div>
    <script src="../static/script/script.js"></script>
  </body>
</html>
